{
  "ProjectName" : "Durin",
  "Description" : "Durin Rails Application",
  "Owner"       : "devops@locushealth.com",
  "Template"    : "common/base-all.hbs",
  "Role"        : "Durin",
  "Region"      : "us-east-1",

  "Dummy": {

    
"Tags": [
              { "Key": "Name","Value": "" }
]

    
"HostedZoneTags": [
              { "Key": "Name","Value": "" }
]

  }
}
